body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(12, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
